.metin2{
    width:100px;
    height:100px;
    bacground:red;
}
h2{
    color:green;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:100%;
}    


.metin2{
    transform: translate(50px,20px) rotate(30deg) scale(1.5);
}

